<div class="basic-weather-info">
    <h2>Today's Info</h2>
    <div>Location: {{location.city}}, {{location.region}}</div>
    <div>Date: {{lastBuildDate}}</div>
    <div>Conditions: {{item.condition.text}}</div>
    <div>Current Temp: {{item.condition.temp}}</div>
    <div>Sunrise: {{astronomy.sunrise}}</div>
    <div>Sunset: {{astronomy.sunset}}</div>
</div>

<div class="forecast-display">
    <h2>Forecast</h2>
    <div>{{> forecast}}</div>
</div>


{{#* inline "forecast"}}{{#list item.forecast}} {{day}} {{date}}: 
hi| {{Temperature high}}, low|{{Temperature low}} 
{{/list}} {{/inline}}


{{!-- <div>{{#list item.forecast}} {{day}} {{date}}: 
hi| {{Temperature high}}, low|{{Temperature low}} 
{{/list}}</div>' --}}



{{!-- {{ifChecked}} --}}
{{!-- <div>{{#list item.forecast}} {{day}} {{date}}: 
hi| {{Fahrenheit high}}, low|{{Fahrenheit low}} 
{{/list}}</div> --}}
{{!-- {{else}}
<div>{{#list item.forecast}} {{day}} {{date}}: 
hi| {{celsius high}}, low|{{celsius low}} 
{{/list}}</div>
{{/ifChecked}} --}}

{{!-- {{#each item.forecast}}
 <div>{{day}} {{date}}: 
hi| {{Temperature high}}, low|{{Temperature low}}</div> 
{{/each}} --}}